<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="error_box" style="color:red; font-size:18px;"> </div>
  <div class="form-group">
    <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: t('devise.sessions.new.login_with').titleize %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: t('devise.sessions.new.password').titleize %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <!-- <div class="actions">
    <%= f.submit "Log in" %>
  </div -->
  <button type="submit" class="btn btn-default">Log In</button>
<% end %>

<%= render "users/shared/links" %>
