<!-- <div id="editorcontainer">
  <div class="editorwrapper">
    <div id="widgeteditor"> </div>
    <div id="globaleditor"> </div>
  </div>
</div> -->

<% if @edit %> 
<div id="draggables-container"> </div>
<% end %>

<% if @edit %> 
<div id="globalconfiguration" class="floating-menu panel-group" style="z-index:2000002; top:0px; left:0px; margin:0px;"> 
	<div class="panel panel-default">
		<div class="panel-heading" >
			<span class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#globalconfiguration" href="#globalconfigurationcollapse">Main Editor</a>
			</span>
			<button type="button" class="btn btn-default btn-circle acordion-toggle"  data-parent="#globalconfiguration" href="#globalconfigurationcollapse" style="background-color:orange; float:right;" aria-label="Left Align" onclick="togglPosition('globalconfiguration', '1px');">
        <span class="glyphicon glyphicon-remove" aria-hidden="true" style="top:0px;"></span>
  		</button>
      <button type="button" class="btn btn-default btn-circle acordion-toggle" data-toggle="collapse" data-parent="#globalconfiguration" href="#globalconfigurationcollapse" style="float:right;" aria-label="Left Align">
        <span class="glyphicon glyphicon-minus" aria-hidden="true" style="top:0px;"></span>
      </button>
		</div>
		<div class="panel-collapse collapse in" id="globalconfigurationcollapse" style="margin:0px;">
			<div class="panel-body">    
        <p> 
          <!-- <a style="font-size:1.2em; color:#333;" href="?viewas=iphone5-portrait" target="_blank"> -->
          <a style="font-size:1.2em; color:#333;" href="/simulator/index.html?viewas=iphone5-portrait&site=http://ldev:5000" target="_blank">
            <i class="icon-large icon-iphone"></i>
            View mobile site
          </a> 
        </p>
        <p> 
          <!-- <a style="font-size:1.2em; color:#333;" href="?viewas=ipad-portrait" target="_blank"> -->
          <a style="font-size:1.2em; color:#333;" href="/simulator/index.html?viewas=ipad-portrait&site=http://ldev:5000" target="_blank">
            <i class="icon-large icon-ipad"></i>
            View tablet site
          </a> 
        </p>
        <p> 
          <a style="font-size:1.2em; color:#333;" href="http://ldev:5000" target="_blank">
            <i class="icon-large icon-display"></i>
            View site
          </a> 
        </p>
			</div>
			<div id="newelementconfiguration" class="panel-group" style="margin:0px;">
				<div href="#" class="list-group-item" style='background-color: rgb(235,235,235);'>
          <button type="button" class="btn btn-default btn-circle acordion-toggle badge" data-toggle="collapse" data-parent="#newlementcollapse" href="#newlementcollapse" style="float:right;" aria-label="Left Align">
            <span class="glyphicon glyphicon-plus" aria-hidden="true" style="top:0px;"></span>
          </button>
          <span>
            <a class="accordion-toggle panel-title" data-toggle="collapse" data-parent="#newelementconfiguration" href="#newlementcollapse">Create New Element</a>
          </span>
        </div>
        <div class="panel-collapse collapse in" id="newlementcollapse" style="margin:0px;">
          <div class="list-group" style="margin:0px;">
            <a href="#" class="list-group-item" onclick="createWidget('general-txt')">
              Rich text area
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="float:right; margin-top:2px; color: orange;" data-container="body" data-toggle="popover" data-trigger="hover" title="Rich text area" data-content="Rich text area image" data-placement="auto right">
              </span>
            </a>
            <a href="#" class="list-group-item" onclick="createWidget('slick-gallery')">
              Horizontal Gallery
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="float:right; margin-top:2px; color: orange;" data-container="body" data-toggle="popover" data-trigger="hover" title="Horizontal slider" data-content="Horizontal slider image" data-placement="auto right">
              </span>
            </a> 
            <a href="#" class="list-group-item" onclick="createWidget('masonary-gallery')">
              Mosaic Gallery
              <span class="glyphicon glyphicon-question-sign" style="float:right; margin-top:2px; color: orange;" data-container="body" data-toggle="popover" data-trigger="hover" title="Mosaic gallery" data-content="Mosaic gallery image" data-placement="auto right">
              </span>
            </a> 
            <a href="#" class="list-group-item" onclick="createWidget('full-width-gallery')">
              Full Width Gallery
              <span class="glyphicon glyphicon-question-sign" style="float:right; margin-top:2px; color: orange;" data-container="body" data-toggle="popover" data-trigger="hover" title="full width gallery" data-content="full width gallery image" data-placement="auto right">
              </span>
            </a>            
            <a href="#" class="list-group-item" onclick="createWidget('square-gallery')">
              Square Gallery 
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="float:right; margin-top:2px; color: orange;" data-container="body" data-toggle="popover" data-trigger="hover" title="Square gallery" data-content="Square gallery" data-placement="auto right">
              </span>
            </a> 
            <a href="#" class="list-group-item" onclick="createWidget('flow-gallery')">
              Flow Gallery
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="float:right; margin-top:2px; color: orange;" data-container="body" data-toggle="popover" data-trigger="hover" title="Flow Gallery" data-content="Flow Gallery image" data-placement="auto right">
              </span>
            </a>                                        
            <a href="#" class="list-group-item" onclick="createWidget('multi-elements')">
              Multi elements
              <span class="glyphicon glyphicon-question-sign" style="float:right; margin-top:2px; color: orange;" data-container="body" data-toggle="popover" data-trigger="hover" title="Multi elements" data-content="Multi elements image" data-placement="auto right">
              </span>
            </a>  
            <a href="#" class="list-group-item" onclick="createWidget('contact')">
              Contact Page
              <span class="glyphicon glyphicon-question-sign" aria-hidden="true" style="float:right; margin-top:2px; color: orange;" data-container="body" data-toggle="popover" data-trigger="hover" title="Contact Page" data-content="Contact Page image" data-placement="auto right">
              </span>
            </a> 

            <!-- <button type="button" class="btn btn-lg btn-danger" data-container="body" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle popover</button>      -->  
<!--             <a href="#" class="list-group-item">
              <span> 
                View tablet site
                <span class="popover" data-toggle="popover" data-trigger="hover" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">
                  <i class="glyphicon glyphicon-question-sign popover" style="float:right; margin-top:2px; color: orange;"></i>
                </span>
              </span>
            </a>            -->
          </div>
        </div>
			</div>
		</div>
	</div>
</div>


<div id="widgetconfiguration" class="floating-menu panel-group" style="z-index:2000002; max-height:80%; overflow-y:scroll; top:300px; left:0px;"> 
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#widgetconfiguration" href="#widgetconfigurationcollapse">Element Editor</a>
			</span>
      <button type="button" class="btn btn-default btn-circle acordion-toggle"  data-parent="#widgetconfiguration" href="#widgetconfigurationcollapse" style="background-color:orange; float:right" aria-label="Left Align" onclick="togglPosition('widgetconfiguration', '253px');">
        <span class="glyphicon glyphicon-remove" aria-hidden="true" style="background-color:orange; top:0px;"></span>
      </button>
      <button type="button" class="btn btn-default btn-circle acordion-toggle" data-toggle="collapse" data-parent="#widgetconfiguration" href="#widgetconfigurationcollapse" style="float:right" aria-label="Left Align">
        <span class="glyphicon glyphicon-minus" aria-hidden="true" style="top:0px;"></span>
      </button>
		</div>
		<div class="panel-collapse collapse in" id="widgetconfigurationcollapse">

		</div>
	</div>
</div>
<% end %>

<% if @edit %> 
<button type="button" class="btn btn-default btn-lg btn-circle" id="save-btn" style="display:none; position:fixed; z-index:2000003; top:15px; right:15px; background-color:transparent !important;" onclick="save_diff()"> 
  <!-- <span class="glyphicon glyphicon-remove" style="background-color:red; top:0px;"></span> -->
   <!-- glyphicon glyphicon-save -->
  <!-- <span class="save-warn" data-container="body" data-toggle="popover" data-trigger="hover" title="Site Changed" data-content="Click the button to save changes" data-placement="left auto"> rrrrr </span> -->
  <span class="glyphicon glyphicon-save save-warn" style="color:#cf4c4c !important; font-size:2.5em !important; top:0px !important; animation:warn_animation 2.0s; -moz-animation:warn_animation 2.0s infinite; -webkit-animation:warn_animation 2.0s infinite;" data-container="body" data-toggle="popover" data-trigger="hover" title="Site Changed" data-content="Click the button to save changes" data-placement="left auto">  </span>
</button>
<% end %>

<% if @edit %> 
<div id="main-modal" class="modal fade">
  <div class="modal-dialog" style="width:95%; margin-top:5px; max-height:98%; ">
    <div class="modal-content" style="max-width:100%; max-height:100%;" >
      <div class="modal-header" style="padding:5px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Image Selector</h4>
      </div>
      <div class="modal-body" style="padding:3px; width:100%; height:100%;">
        <!-- <p>One fine body&hellip;</p> -->
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<% end %>

<a href="#" class="scrollup">Scroll</a>

<% if !@edit %> 
<div id="wrapper" class="  <%= 'wrapper' if @site["menu"]["type"] == 'Side Menu' %> ">
  <%# byebug %>
  <div id="menucontainer" class=" <%= 'sidebar-wrapper' if @site["menu"]["type"] == 'Side Menu' %> "> 
    <% if !@edit %>
      <%= @menu %>   
    <% end %>
  </div>
  
  <div id="contentcontainer" class=" <%= 'page-content-wrapper' if @site["menu"]["type"] == 'Side Menu' %> "> 
    <% if !@edit %>
      <% @elements.each do |el| %>
        <%= el %>
      <% end %>
    <% end %>
  </div>  

  <div class="slideout">
    <img src="/assets/fb2-left.png" alt="Facebook" style="width:40px;" />
    <div id="facebook-page-plugin" class="slideout_inner">
      <div class="fb-page" data-href="https://www.facebook.com/picndo" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true" height="470">
        <div class="fb-xfbml-parse-ignore">
          <blockquote cite="https://www.facebook.com/picndo">
            <a href="https://www.facebook.com/picndo"></a>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
<!--   <div id="facebook-page-plugin" style="height:200px; width:500px;">
    <div class="fb-page" data-href="https://www.facebook.com/picndo" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true">
      <div class="fb-xfbml-parse-ignore">
        <blockquote cite="https://www.facebook.com/picndo">
          <a href="https://www.facebook.com/picndo"></a>
        </blockquote>
      </div>
    </div>
  </div> -->
</div>

<% else %>
<div id="wrapper">
  <div id="menucontainer"> 

  </div>
  
  <div id="contentcontainer"> 

  </div> 
<!--   <div id="facebook-page-plugin">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=512906785400542";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </div>  -->
</div>
<% end %>


<% if @edit %>
<script>

function togglPosition(elid, pos) {
  console.log("toggle position");
  var el = $('#'+elid);
  var top = el.css('top');
  if (top == 'auto') { // maximize
    el.css('bottom', 'auto');
    el.css('top', '2000px');
    el.animate( { 'top':'200', }, 400, "easeOutQuart" );
    // el.animate( { 'top':'200', }, 400 );
    el.find(".panel-collapse").collapse('show');
  }
  else { // minimize
    el.css('top', 'auto');
    el.animate( { 'left':pos, 'bottom':'0px', }, 400, "easeOutQuart" );
    // el.animate( { 'left':pos, }, 300 );
    el.find(".panel-collapse").collapse('hide');
  }

}

</script>


<script id="image-manager" type="x-handlebars-template">​

<div id="image-manager"> 
  
  <div id="image-manager-header"> 
    <button id="upload-img" type="button" class="btn btn-default"> 
      Upload New Image 
      <span class="glyphicon glyphicon-upload" aria-hidden="true" style="top:0px;"></span> 
    </button> 
    <button id="insert-img" type="button" class="btn btn-default" > 
      Insert selected 
      <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="top:0px;"></span> 
    </button> 
    {{!-- <button id="edit-img" type="button" class="btn btn-default"> 
      Edit selected 
      <span class="glyphicon glyphicon-edit" aria-hidden="true" style="top:0px;"></span> 
    </button> --}}
  </div> 

  <div id="image-manager-image-list-container" style=""> 
    <ul id="image-manager-image-list" style=""> 
      {{#each images}}
        {{> image-manager-img cbs=../img_cbs}}
      {{/each}}
    </ul>
  </div> 


  {{> image-manager-obj-list}}
  

</div>

</script>

<script id="image-manager-obj-list" type="x-handlebars-template">​

  {{#if object_images}}
    <div id="image-manager-obj-list" style="overflow-y:scroll; margin-top:10px; margin-bottom:0px; padding:3px; border:1px dashed #333;">
      <span> Gallery images: Drag images to change order or click (x) to remove from gallery. </span>
      <ul id="image-manager-image-list" style=""> 
        {{#each object_images}}
          {{> image-manager-img cbs=../obj_cbs }}
        {{/each}}      
    </div>
  {{/if}}

</script>

<script id="image-manager-img" type="x-handlebars-template">​
  
<li id="{{id}}" style="">
  <div style="position:relative; width:100%; height:100%;" data-id="{{@index}}">
    <button type="button" class="btn btn-default btn-circle {{cbs.delete_class}} " style="right:3px;" title="Delete Image">
      <span class="glyphicon glyphicon-remove" style="top:0px;"></span>
    </button>
    <button type="button" class="btn btn-default btn-circle {{cbs.edit_class}}" style="right:25px;"   title="Edit Image">
      <span class="glyphicon glyphicon-pencil" style="top:0px;"></span>
    </button>    
    {{#if cbs.select_class}}
      <button type="button" class="btn btn-default btn-circle {{cbs.select_class}}" style="right:47px;" title="Select Image" onclick="select_img(this);">
        <span class="glyphicon glyphicon-ok" style="top:0px;"></span>
      </button>        
    {{/if}}
    <img draggable='false' src="{{thumb}}" rel="{{image}}" title="{{txt}}" style="" />
  </div>
</li>

</script>

<script>

function select_img(elem) {
  console.log('selected');
  var parent = $(elem).parent()
  var lid = parent.data("id");
  var lspan = $(elem).find('span');

  
  if ( lspan.hasClass('glyphicon-ok') ) {
    $(elem).parent().parent().css("border", "2px solid green");
    lspan.removeClass('glyphicon-ok');
    lspan.addClass('glyphicon-ban-circle');
    parent.addClass('selected-img');
  }
  else {
    $(elem).parent().parent().css("border", "none");
    lspan.removeClass('glyphicon-ban-circle');
    lspan.addClass('glyphicon-ok');
    parent.removeClass('selected-img');
  }
}

function unselect_all() {
  $('.glyphicon-ban-circle').each(function( index ) {
    // var imgs = this.find('glyphicon-ban-circle');
    // imgs.removeClass('glyphicon-ban-circle');
    // imgs.addClass('glyphicon-ok');
    // this.removeClass('selected-img');
    // this.parent().css("border", "none");
    console.log('unselecting');
    $(this).removeClass('glyphicon-ban-circle');
    $(this).addClass('glyphicon-ok');
    $(this).parent().parent().removeClass('selected-img');
    $(this).parent().parent().parent().css("border", "none");
  });
}

</script>


<script id="t_controllers" type="x-handlebars-template">​

<div class='list-group'>
{{!-- => we want only the currently supported ones not the  historical #each controllers.root --}} 
{{!-- #each default_controllers.root --}} 
{{#each controllers.root}} 
  <div class='list-group-item'>
    {{#ifCond this.type '==' 'slider' }}
      <span> {{@key}} </span>
      <input class='slider' type='range' min='{{../range.[0]}}' max='{{../range.[1]}}' step='1' value='{{../val}}' name='page' data-name='{{@key}}' data-cid='{{../../container.[0].id}}' />
    {{/ifCond}}
    {{#ifCond this.type '==' 'select' }}
      <span> {{@key}} </span>
      <select id='{{@key}}select' data-name='{{@key}}' data-cid='{{../../container.[0].id}}' class='form-control'>
        {{#each ../options}}
          <option>{{this}}</option>
        {{/each}}          
      </select>
    {{/ifCond}}

    {{#ifCond this.type '==' 'select-hash' }}
      <span> {{@key}} </span>
      <select id='{{@key}}select' data-name='{{@key}}' data-cid='{{../../container.[0].id}}' class='form-control'>
        {{#each ../options}}
          <option value='{{this}}'>{{@key}}</option>
        {{/each}}          
      </select>
    {{/ifCond}}

    {{#ifCond this.type '==' 'checkbox' }}
      <div class='checkbox checkbox-primary' style='margin-top:0px; margin-bottom:0px; margin-left:0px;'>
        <input id='{{@key}}checkbox' type='checkbox' value='{{../val}}' data-name='{{@key}}' data-cid='{{../../container.[0].id}}'  >
        <label for='{{@key}}checkbox'> {{@key}}  </label>
      </div>
    {{/ifCond}}
    {{#ifCond this.type '==' 'color-picker' }}
      <span> {{@key}} </span>
      <input type='text' id='{{@key}}color-picker' class='color-picker' value='{{../val}}' data-name='{{@key}}' data-cid='{{../../container.[0].id}}'/>
    {{/ifCond}}
  </div>
{{/each}}
</div>

</script>
<% end %>